.follow-main {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.return-button {
    align-items: flex-start;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    padding: 10px 20px; 
    margin-bottom: 15px;
    margin-left: 40px;
    color: #3992ff;
}

.return-button:hover {
    text-shadow: 0.2px 0.5px rgb(65, 181, 243);
    color: rgb(65, 181, 243);
    box-shadow: none;
    cursor: pointer;
}

.return-arrow {
    margin-right: 10px;
}

.follow-main::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 768px) {
    .return-button {
        margin-left: 0px;
    }

    #detail {
        width: 100%;
        padding: 5% 2.5%;
    }
}