.follow-list {
    display: flex; 
    flex-direction: column;
    overflow-y: auto;
    width: 80%;
    padding: 2%;
    background-color: #fff; 
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.follow-list h2 {
    font-size: 28px;
    color: #262626;
    margin-bottom: 20px; 
    text-align: center;
    padding: none;
}

.follow-list ul {
    flex: 1; 
    list-style-type: none; 
    padding: 0;
    margin: 0;
    overflow-y: auto;
    height: 70vh;
}

.follow-list li {
    border-bottom: 2px solid #e6e6e6;
}