.edit-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.edit-main>form>div{
  margin-bottom: 15px;
  width: 100%;
}

.edit-main>form>div> label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.edit-main>form>div>input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-main > h2 {
  text-align: center;
}

.edit-main>form>div> a{
  font-size:13px;
  margin-bottom: 15px;
  color:  blue;
}

.edit-main > form > div > a:hover{
  color: rgb(235, 93, 93);
}

.edit-main > form > div > a:active{
  color: rgb(255, 0, 0);
}

.edit-main > img{
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  border: 5px black dotted; 
}