.MangaIcon-main{
    display:flex; 
    flex-direction:column; 
    align-items:center; 
    max-width: 25%; 
    padding: 20px; 
    margin: 10px; 
}

.MangaIcon-main img{
    height: 200px;
}

.MangaIcon-favorite{
    position:relative; 
    left: 45px; 
    top: 40px;
    z-index: 1; 
}
