.user-item {
    width: 100%;
    display: flex;
    align-items: center; 
    padding: 10px 0;
}

.user-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    object-fit: cover;
}

.user-item span {
    font-size: 16px;
    font-weight: bold;
    color: #262626;
    flex: 1;
}

.user-item:hover {
    background-color: #fafafa;
}

.remove-button {
    margin-right: 1vw;
    text-align: right;
}

.follow-button {
    margin-right: 0.8vw;
}
