.forumpost-main{
    display: flex; 
    flex-direction: row; 
    align-items:center;
    border: 3px var(--border-color-forum) solid; 
    margin: 1em; 
    box-shadow: 0 0 10px #0000001a;
    border-radius: 5px;
}

.forumpost-main:hover {
    background-color: var(--bg-color-forum-primary);
    transition: var(--hover-transition); 
}

.forumpost-main .forumpost-body:hover{
    cursor: pointer; 
}