.MangaRow-main{
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;  
    overflow: auto; 
    
    
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* remove scrollbar but keep functionality*/
.MangaRow-main::-webkit-scrollbar {
    display: none;
}

