.MangaRow-container {
    position: relative;
    /* Establishes a new positioning context for absolute children */
    width: 100%;
}

.MangaRow-main {
    display: flex;
    overflow-x: auto;
    width: calc(100% - 40px);
    /* Adjust the width to allow space for arrows */
    margin: 0 20px;
    /* This margin makes space for the arrows */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.MangaRow-fadeDownContent {
    border-radius:5%; 
}

/* Remove scrollbar but keep functionality */
.MangaRow-main::-webkit-scrollbar {
    display: none;
}

.MangaRow-arrowLeft,
.MangaRow-arrowRight {
    position: absolute;
    /* Positioned absolute relative to MangaRow-container */
    top: 50%;
    /* Center vertically */
    z-index: 1;
    /* Ensure the icons are above other content */
    cursor: pointer;
    /* Change the cursor to a pointer to indicate clickable items */
    transition: 'transform 0.3s ease-in-out'; 

    opacity: 0.5; 
}

.MangaRow-arrowLeft {
    left: 0px;
    /* Align to the left side of the MangaRow-container */
}

.MangaRow-arrowRight {
    right: -5px;
    /* Align to the right side of the MangaRow-container */
}

.MangaRow-container > h1{
    margin: 0;
    margin-top: 1em;
    font-family: var(--font-size-main-dashboard);
    border-bottom: 3px grey solid;
    border-top: 3px grey solid;
}

/* Keyframes for the fade-down effect */
@keyframes fadeInLeftToRight {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Animation for the title */
.MangaRow-fadeDownTitle {
    animation: fadeInLeftToRight 1s ease-in;
}

/* Animation for the content */
/* .MangaRow-fadeDownContent {
    animation: fadeInLeftToRight 0.5s ease-in;
    animation-delay: 0.5s;
} */

