/* PasswordReset.css */

.passwordreset-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  height: 100vh; 
  margin-top: 20px;
}

p {
  color: #666;
  text-align: center;
  margin-bottom: 20px;
}

form {
  width: 100%;
  max-width: 300px; 
  text-align: center; 
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
}
