.MangaProfileImage-main img{
    height:100%;
    width: 100%;
    justify-content:left;
    border-radius: 5%;
    box-shadow: 10px 5px 5px #c7c7c7;
    display: block;
}

.MangaProfileImage-favorite{
    position: absolute;
    top:0;
    right:0;
    width:fit-content; 
    z-index: 1; 
}

.MangaProfileImage-main{
    width:fit-content;
    height:fit-content;
    position:relative;
    display: inline-block;
}
