.home-main{
    height: 100%; 
    overflow-y: auto; 
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer */
}

.home-main::-webkit-scrollbar {
    display: none;
}