#detail {
    background-color:var(--bg-color-primary);
    padding: 50px;
    padding-left: 4rem;
    width: 75%;
    overflow-y: auto;
}

#detail.loading {
    opacity: 0.25;
    transition: opacity 200ms;
    transition-delay: 200ms;
}

.home-main{
    height: 100%; 
    overflow-y: auto; 
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer */
}


.home-main::-webkit-scrollbar {
    display: none;
}

