.comment-main {
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    align-items: left;
    display: flex;
    flex-direction: column;
    width: 60vw;
}

.comment-section {
    margin-top: 20px;
    display: flex;

}

.comment-section label {
    margin-top: 0;
    margin-right: 10px;
}

.submit-section {
    margin-top: 10px;
}

