/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Need to add more variable so css isn't a pain*/
html {
  box-sizing: border-box;
  --bg-color-primary: red; 
  --bg-color--secondary:blue; 
  --button-color-primary:#3992ff;
  --star-color: yellow; 
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100vh; 
  margin: 0;
  line-height: 1.5;
  color: #121212;
}

/* can refactor this but be careful */
#root {
  display: flex;
  height: 100%;
  width: 100%;
}

textarea, 
input,
button {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  line-height: 1.5;
  margin: 0;
}


/* WARNING! do not change below. It might break styling elsewhere */

button {
  color: var(--button-color-primary);
  font-weight: 500;
  background: rgba(0, 0, 0, 0);
}


button:active {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: translateY(1px);
}

/* for mobile screens */
@media screen and (max-width: 768px)  {
  #root{
    /* color: red;  */
    flex-direction:column;
  }

  #detail{
    width: 100%;
  }

  .Header-sidebar{
    width:100%;
  }

  #root .Header-sidebar h1{
    display:none; 
  }

  #root .Header-sidebar .Header-nav{
    display:none; 
  }

  #root .Header-sidebar .Header-navigation-sm{
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .Header-sidebar > div > div{
    border-bottom: none;
    padding-bottom: 0;
  }

  
  .ForumPost-col-lables, .ForumPost-col-entries, .ForumPost-row> input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  

}

/* for medium screenes */
@media screen and (min-width: 768px) and (max-width: 1024px){
  /* #root{
    color: green; 
  } */

  #root .Header-sidebar .Header-navigation-sm {
    display: none;
  }


  .ForumPost-col-lables, .ForumPost-col-entries, .ForumPost-row> input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  

}

@media screen and (min-width: 1024px){
  /* #root{
    color: blue; 
  } */

  #root .Header-sidebar .Header-navigation-sm{
    display:none; 
  }
}