/* Need to add more variable so css isn't a pain*/
html {
  box-sizing: border-box;
  --bg-color-primary: white;
  --bg-color--secondary:white; 

  --button-color-primary:#3992ff;
  --star-color: yellow; 

  --font-size-main-dashboard: 'Courier New', Courier, monospace;
  --font-size-subtext-dashboard: 'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;
  --font-size-main-user-username: 'Courier New', Courier, monospace;
  --font-size-subtext-user-bio: 'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif

  /* Light Mode */
  --bg--light: var(--_hue) 30% 94%;
  --txt--light: var(--_hue) 40% 5%;
  --accent--light: var(--_hue) 55% 50%;
  --accent1--light: 10 80% 60%;
  --muted--light: var(--_hue) 30% 99%;
  /* Dark Mode */
  --bg--dark: var(--_hue) 15% 10%;
  --txt--dark: var(--_hue) 30% 88%;
  --accent--dark: var(--_hue) 50% 50%;
  --accent1--dark: 10 55% 50%;
  --muted--dark: var(--_hue) 20% 4%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100vh; 
  margin: 0;
  line-height: 1.5;
  color: #121212;
}

/* can refactor this but be careful */
#root {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--bg-color-primary);
}

textarea, 
input,
button {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  line-height: 1.5;
  margin: 0;
}


/* WARNING! do not change below. It might break styling elsewhere */

button {
  color: var(--button-color-primary);
  font-weight: 500;
  background: rgba(0, 0, 0, 0);
}


button:active {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: translateY(1px);
}

/* for mobile screens */
@media screen and (max-width: 768px)  {
  #root{
    /* color: red;  */
    flex-direction:column;
  }

  #detail{
    width: 100%;
  }

  .Header-sidebar{
    width:100%;
    position: fixed;
    z-index: 10;
  }

  .Works-main {
    margin-top: 60px;
  }

  .home-main {
    margin-top: 60px;
  }

  .profile-main {
    margin-top: 70px;
  }

  .follow-main {
    margin-top: 40px;
  }

  .follow-list {
    width: 100%;
    padding: 0;
  }

  #root .Header-sidebar h1{
    display:none; 
  }

  #root .Header-sidebar .Header-nav{
    display:none; 
  }

  #root .Header-sidebar .Header-navigation-sm{
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .Header-sidebar > div > div{
    border-bottom: none;
    padding-bottom: 0;
  }

  
  .ForumPost-col-lables, .ForumPost-col-entries, .ForumPost-row> input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  .MangaInfo-main{
    display: flex;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #0000001a;
    border-radius: 5px;
    flex-direction:column;
    align-items:center;
  }  

  .MangaInfo-left {
    max-width: 100%;
    
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px){
  /* #root{
    color: green; 
  } */

  #root .Header-sidebar .Header-navigation-sm {
    display: none;
  }


  .ForumPost-col-lables, .ForumPost-col-entries, .ForumPost-row> input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  .MangaInfo-main{
    display: flex;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #0000001a;
    border-radius: 5px;
    flex-direction:column;
    align-items:center;
  }  

  .MangaInfo-left {
    max-width: 50%;
  }

}

/* for medium screenes */
@media screen and (min-width: 769px) and (max-width: 1024px){
  /* #root{
    color: green; 
  } */

  #root .Header-sidebar .Header-navigation-sm {
    display: none;
  }


  .ForumPost-col-lables, .ForumPost-col-entries, .ForumPost-row> input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  .MangaInfo-main{
    display: flex;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #0000001a;
    border-radius: 5px;
    flex-direction:column;
    align-items:center;
  }  

  .MangaInfo-left {
    max-width: 50%;
  }

}

@media screen and (min-width: 1024px){
  /* #root{
    color: blue; 
  } */

  #root .Header-sidebar .Header-navigation-sm{
    display:none; 
  }
}