.PostForum-form {
  background-color: var(--bg-color-forum-primary);
  border: 1px solid var(--border-color-forum);
  box-shadow: 0 0 10px #0000001a;
  border-radius: 5px;
  padding: 15px; /* Decreased padding */
  width: 50%; /* Decreased width to make form narrower */
  margin: 0 auto 20px auto; /* Center the form and add space at the bottom */
}

.PostForum-form input {
  padding: 10px; /* Decreased padding */
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  width: calc(100% - 22px); /* Adjust width to account for padding */
  margin: 8px 0; /* Decreased space between fields */
  height: 10px;
}

.PostForum-form textarea {
  padding: 10px; /* Decreased padding */
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  width: calc(100% - 22px); /* Adjust width to account for padding */
  margin: 8px 0; /* Decreased space between fields */
}

.PostForum-form button {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  color: #3992ff;
  padding: 14px 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 12px;
  transition: background-color 0.3s ease, transform 0.1s ease; /* Add transform to the transition */
}

.PostForum-form button:hover {
  text-shadow: 0.2px 0.5px rgb(65, 181, 243);
  color: rgb(65, 181, 243);
  box-shadow: none;
  cursor: pointer;
}


.PostForum-feedback,
.PostForum-error {
  text-align: center;
  margin-top: 10px;
}

.PostForum-feedback {
  color: green;
}

.PostForum-error {
  color: red;
}

  
  
  