.forum-main {
  padding: 10px;
  max-height: calc(100vh - 120px);  /* Adjust this value based on your layout needs */
  overflow-y: auto; /* Adds a scrollbar when content overflows */
  background-color: #FFFFE0; 
}


.forum-main ul {
  list-style: none; 
  padding: 0;
  margin: 0; /* Ensure no default margin is pushing content down */
}

.forum-main li {
  display: flex;
  align-items: center;
  margin-bottom: 15px; /* Adjust as needed */
  /* other styles */
}

.forum-main img {
  margin-right: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  /* other styles */
}

/* Add styles for username span if needed */
.forum-main .username {
  /* styles */
}

