.forum-main ul {
    list-style: none; 
    padding: 0;
}

#detail {
  padding: 50px;
}

.forum-main li {
  display: flex;
  align-items: center;
}

.forum-main {
  padding: 10px;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}

.forum-main h1 {
  text-align: center;
}

.forum-main img {
  margin-right: 10px;
}

.forum-main{
  height: 100%;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .forum-main {
    margin-top: 60px;
  }
}
